<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <title>{%- block title %}My favorite books{%- endblock %}</title>
    </head>
<body>
    <header>
        <h1>{%- block heading %}My favorite books{% endblock %}</h1>
        <nav>
            <a href="/">Home</a> | <a href="/add_book">Add Book</a> | <a href="/add_author">Add Author</a>
        </nav>
    </header>
    <main>
        <h2>{%- block subheading %}{% endblock %}</h2>
        {%- block content %}{%- endblock %}
    </main>
    <footer>
        {%- block footer %}© 2025 My Site{%- endblock %}
    </footer>
</body>
</html>